/*
* @Author: 87699
* @Date:   2018-08-18 12:36:17
* @Last Modified by:   87699
* @Last Modified time: 2018-08-19 15:45:28
*/
@import './reset.scss';
@import './ui.scss';
@import './base.scss';
@import './menu.scss';
@import './sub-menu.scss';

#academy {
	width: 100%;
	height: 100vh;
	background: $base-color4;

	.academy-form {
		margin-top: 1.5rem;
		.academy-form-pw {
			position: relative;
			height: 6rem;
			margin-bottom: 1rem;
			padding: 0 1.5rem;
			line-height: 6rem;
			font-size: 1.6rem;
			background: $base-color1;
			color: $text-color1;
			label {
				position: absolute;
				left: 1.5rem;
			}
			input {
				width: 100%;
				height: 100%;
				padding-left: 5rem;
			}
		}
		.academy-form-dese {
			margin-bottom: 3rem;
			padding: 0 1.5rem;
			font-size: 1.5rem;
			color: $text-color4;
		}
		.btn {
			width: calc(100% - 3rem);
			margin: 0 1.5rem;
			height: 4.6rem;
			line-height: 4.6rem;
			font-size: 1.6rem;
			color: $base-color1;
			background: $main-color;
			border-radius: 0.4rem;
		}
	}
}