/*
* @Author: 87699
* @Date:   2018-08-18 20:43:16
* @Last Modified by:   87699
* @Last Modified time: 2018-08-19 17:04:04
*/
.article-text {
	padding-bottom: 1rem;
	box-shadow: 0 1px 9px 0 rgba(0,0,0,0.05);
	img {
		width: 100%;
	}

	p {
		padding: 1rem 1.5rem;
		color: $text-color1;
		font-size: 1.4rem;
		line-height: 2.2rem;
		&.article-desc {
			margin: 1rem 1.5rem 0 1.5rem;
			background: #F7F7F7;
		}
	}
}