/*
* @Author: 87699
* @Date:   2018-08-18 12:36:17
* @Last Modified by:   87699
* @Last Modified time: 2018-08-19 18:45:36
*/
@import './reset.scss';
@import './ui.scss';
@import './base.scss';

.author-link {
	display: flex;
	padding: 1.5rem;
	margin-bottom: 1.5rem;
	align-items: center;
	box-shadow: 0 1px 9px 0 rgba(0,0,0,0.05);
	>div {
		flex-shrink: 0;
		flex-grow: 0;
	}
	.author-avator {
		flex-basis: 7rem;
		height: 7rem;
		img {
			max-height: 7rem;
			max-width: 7rem;
			border-radius: 50%;
		}
	}
	.author-info {
		flex-basis: calc(100% - 14.7rem);
		padding: 0 1rem;
		>p {
			margin-bottom: 0.7rem;
			font-size: 1.6rem;
			color: $text-color3;
			line-height: 2.2rem;
		}
	}
	.author-job {
		font-size: 1.2rem;
		color: $text-color5;
		line-height: 1.6rem;
	}
	.author-view {
		display: inline-block;
		width: 7.7rem;
		height: 3rem;
		line-height: 3rem;
		color: $base-color1;
		border-radius: 0.2rem;
		text-align: center;
		background: $main-color;
	}

	&.large {
		padding: 2rem 2.8rem;
		box-shadow: none;
		@include halfPxB($border-color1);
		.author-avator {
			flex-basis: 9.8rem;
			height: 9.8rem;
			img {
				max-height: 9.8rem;
				max-width: 9.8rem;
			}
		}
		.author-info {
			flex-basis: 100%;
			padding: 0 0 0 1.4rem;
			>p {
				margin-bottom: 0.8rem;
				color: $text-color1;
				font-size: 1.6rem;
				line-height: 2.2rem;
			}
			.author-job {
				display: inline-block;
				margin-bottom: 1rem;
				color: $text-color7;
			}
			.author-tag {
				display: inline-block;
				height: 2rem;
				margin-right: 0.1rem;
				padding: 0 0.5rem;
				font-size: 1.2rem;
				line-height: 2rem;
				border: 1px solid $border-color4;
				border-radius: 0.5rem;
				color: $text-color8;
			}
		}
	}
}