/*
* @Author: 87699
* @Date:   2018-08-18 12:36:17
* @Last Modified by:   87699
* @Last Modified time: 2018-08-19 19:00:33
*/
@import './reset.scss';
@import './ui.scss';
@import './base.scss';
@import './list.scss';
@import './menu.scss';

#search-result {
	width: 100%;
	background: $base-color1;
	.menu-inner {
		height: 10rem;
	}
	.menu-main {
		.icon-search {
			display: none;
		}
	}
	.menu-search {
		position: relative;
		top: 0;
	}

	.search-keyword {
		padding: 0.6rem 1.5rem;
		color: $text-color4;
		font-size: 1.2rem;
	}
}